.body_backgorund 
{
    background-image:url("backg.jpg");
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    margin-top: 100px;
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
    font-size: 25px;
}
